:root {
    --accent-color: rgb(204, 142, 27);
}

#menu-header-container {
    position: relative;
    text-align: center;
    margin: 100px auto;
    width: clamp(350px, 20%, 25%);
    height: 100px;
    background-color: var(--accent-color);
    border-radius: 12px;
}

#menu-header {
    position: relative;
    top: calc(50% - 1rem);
    font-size: 2rem;
}


.menu-type {
    width: clamp(600px, 75%, 1200px);
    margin: 75px auto;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
    gap: 5px clamp(20px, 3%, 35px);
    background-color: rgb(85, 85, 85);
    border-radius: 12px;
    justify-content: center;
}

.menu-type-declaration {
    width: clamp(250px, 20%, 300px);
    height: 125px;
    margin: 50px auto;
    grid-column: span 2;
    grid-row-end: 1;
    text-align: center;
}

.type-heading {
    position: relative;
    font-size: 2rem;
    top: calc(50% - 1rem);
}

.menu-item {
    position: relative;
    display: flex;
    gap: 20px;
    width: clamp(300px, 80%, 1080px);
    height: 225px;
    align-self: center;
    justify-self: center;
    margin: 20px auto;
}

.div-info {
    flex: 0 0 calc(100% - 175px);
}

.menu-item:nth-child(2)  > .div-picture {
    background: no-repeat url(./images/korean-barbecue.jpg);
    background-size: 200px 100%;
}

.menu-item:nth-child(3)  > .div-picture {
    background: no-repeat url(./images/shardar-tarikul-islam-93-GlZeWEZA-unsplash.jpg);
    background-size: 200px 100%;
}

.menu-item:nth-child(4)  > .div-picture {
    background: no-repeat url(./images/ikhsan-baihaqi-pbc2wXbQYpI-unsplash.jpg);
    background-size: 200px 100%;
}

.menu-item:nth-child(5)  > .div-picture {
    background: no-repeat url(./images/annie-spratt-oT7_v-I0hHg-unsplash.jpg);
    background-size: 200px 100%;
}

.menu-item:nth-child(6)  > .div-picture {
    background: no-repeat url(./images/markus-spiske-Gej8FOFLlHg-unsplash.jpg);
    background-size: 200px 100%;
}

.menu-item:nth-child(7)  > .div-picture {
    background: no-repeat url(./images/chicken-biryani.jpg);
    background-size: 200px 100%;
}

.div-picture {
    position: relative;
    flex: 0 0 150px;
    height: 150px;
    top: 20px;
    border-radius: 8px;
}

.item-name {
    font-weight: 700;
    font-size: 1.45rem;
    margin: 10px 0 20px;
}

.item-description {
    font-size: 1.15rem;
    line-height: 1.35;

}

.add-to-cart-btn {
    background-color: rgb(58, 61, 66);
    font-size: 1.15rem;
    height: 45px;
    width: 150px;
    border-radius: 8px;
    border: none;
    position: absolute;
    left: 10px;
    top: calc(100% - 65px);
    margin: 20px 0;
    transition: ease, 175ms;
}

.add-to-cart-btn:hover {
    color: black;
    transform: scale(1.05);
    cursor: pointer;
    background-color: var(--accent-color);
}

@media (1250px < width <= 1450px) {
    .menu-item {
        height: calc(100% - 50px);
    }
    .add-to-cart-btn {
        position: static;
        margin: 10px auto;
    }
}

@media (width <= 1250px) {
    .menu-type {
        display: block;
    }
}